*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header and navigations styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
.text-primary{
    color: #FD6E0A;
}
nav ul {
    display: flex;
}
nav li {
    list-style:none;
    margin-left: 50px;
}